/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
.page        {
    bottom:0;
    padding-top:200px;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }

/* PAGES (specific colors for each page)
============================================================================= */
.page-home      { background:#00D0BC; color:#00907c; }
.page-services     { background:#E59400; color:#a55400; }
.page-products   { background:#ffa6bb; color:#9e0000; }

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

.ng-enter           { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-enter         { animation: scaleUp 0.5s both ease-in; }
.page-home.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

/* about ------------------------ */
.page-services.ng-enter        { animation:slideInRight 0.5s both ease-in; }
.page-services.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }

/* contact ---------------------- */
.page-products.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
.page-products.ng-enter      { animation:slideInUp 0.5s both ease-in; }



/* PAGES (homepage styes)
============================================================================= */

nav {

}
nav.mainmenu > div.container > div a {
    margin-left: 0px;
    width:  100%;
    height: 100%;
}

/* carasoul overwrites */

div > a.left.carousel-control {
    background-repeat: none !important;
    background-image: none !important;
}

div > a.right.carousel-control {
    background-repeat: none !important;
    background-image: none !important;
}


/* sub-navigation styles */
nav.navbar.submenu{
    padding: 10px;
}

nav.navbar.submenu ul{
    margin: 0px;
    padding: 0px;

}

nav.navbar.submenu ul li {
    display: inline-block;
    float: left;
    padding: 0px;
    text-align: center;
}


/* cssArrow styles */
.cssarrow {
    position: relative;
    background: #cd1a57;
    border: 4px solid #cd1a57;
    height: 300px;
}
.cssarrow:after,
.cssarrow:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.cssarrow:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #cd1a57;
    border-width: 8px;
    margin-top: -8px;
}
.cssarrow:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #cd1a57;
    border-width: 13px;
    margin-top: -13px;
    z-index: 1;
}
    /* product display */

div.product-display{
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}

.thumbnails {
    padding: 0px;
}

.thumbnail {
    height: 300px;
    border-radius: 0px;
    border-left: 0;
}

.thumbnail .caption{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}


/* special-offer */
.special-offer {
    background-color: #cd1a57;
}

.page-header.header-one{
    padding-bottom: 100px;
    border: none !important;
}

.page-header.header-two{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #cd1a57;
}

.testimonials{
    margin-top: 120px;
}