/* =================================================================== */
/*
/*  JJ Eyelashes v1.0 / Template: page-home stylesheet
/*
/*=================================================================== */
/*
/*   Sections:
/*
/*  01. = global styles for section
/*  02. = header styles
/*  03. = hero styles
/*  04. = submenu styles
/*  05. = product styles
/*  06. = special-offer styles
/*  07. = testimonial styles
/*  08. = footer styles
/*
/*
/* =================================================================== */

/* 01. = global styles for section
/* =================================================================== */




/* 02. = header styles
/* =================================================================== */




/* 03. = hero styles
/* =================================================================== */




/* 04. = submenu styles
/* =================================================================== */




/* 05. = product styles
/* =================================================================== */




/* 06. = special-offer styles
/* =================================================================== */
.special-offers {
    background-color: #cd1a57;
    padding: 50px;
}
.special-offers h1{
    color: #ffffff;
}

.special-offers > .thumbnails{
    padding: 15px !important;
}



/* 07. = testimonial styles
/* =================================================================== */
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}



/* 08. = footer styles
/* =================================================================== */

