@import "../bootstrap";
nav{
    width: 100%;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 1;
    position: fixed;
    overflow: visible;
    z-index: 9999;

    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=19, Direction=0, Color=#2E2E2E)";/*IE 8*/
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=19, Direction=135, Color=#2E2E2E); /*IE 5.5-7*/

    &,
    & ul,
    & ul li,
    & ul li a,
    & #menu-button {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    &:after,
    & > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    & #menu-button {
        display: none;
    }


    & .show-nav {
            -webkit-transform: translate(260px, 0px);
            -moz-transform: translate(260px, 0px);
            -o-transform: translate(260px, 0px);
            -ms-transform: translate(260px, 0px);
            transform: translate(260px, 0px);
    }




    &.small-screen {
        width: 100%;
    }
    &.small-screen > ul,
    &.small-screen.align-center > ul {
        width: 100%;
        text-align: left;
    }
    &.small-screen > ul > li,
    &.small-screen.align-center {
        float: none;
        display: block;
        border-top: 1px solid rgba(100, 100, 100, 0.1);
    }
    &.small-screen > ul > li:hover > a,
    &.small-screen > ul > li > a:hover {
        color: #dff2fa;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        -ms-transform: none;
    }
    &.small-screen > ul > li > a::before {
        display: none;
    }
    &.small-screen #menu-button {
        display: block;
        padding: 16px 20px;
        cursor: pointer;
        font-size: 14px;
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: #1e3262;
    }
    &.small-screen #menu-button:after {
        content: "";
        position: absolute;
        right: 20px;
        top: 17px;
        display: block;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        width: 22px;
        height: 3px;
    }
    &.small-screen #menu-button.menu-opened:after {
        border-top: 2px solid #dff2fa;
        border-bottom: 2px solid #dff2fa;
    }
    &.small-screen #menu-button:before {
        content: "";
        position: absolute;
        right: 20px;
        top: 27px;
        display: block;
        width: 22px;
        height: 2px;
        background: #ffffff;
    }
    &.small-screen #menu-button.menu-opened:before {
        background: #1e3262;
    }
    &#menu{
        display: none;
        &.show-nav{
            position: fixed;
            top: 0;
            bottom: 0;
            width: 260px;
            left: 0px;
            height: 100%;
            display: block;
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=33, Direction=0, Color=#2E2E2E)";/*IE 8*/
            -moz-box-shadow: 0 0 33px -14px #2E2E2E inset;/*FF 3.5+*/
            -webkit-box-shadow: 0 0 33px -14px #2E2E2E inset;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
            box-shadow: 0 0 33px -14px #2E2E2E inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
            background-color: #142344;
            background: -moz-linear-gradient(top, #1e3262 0%, #142344 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e3262), color-stop(100%,  #142344));
            background: -webkit-linear-gradient(top, #1e3262 0%,  #142344 100%);
            background: -o-linear-gradient(top, #1e3262 0%,  #142344 100%);
            background: -ms-linear-gradient(top, #1e3262 0%,  #142344 100%);
            background: linear-gradient(to bottom, #1e3262 0%,  #142344 100%);

        }

        & ul {
            list-style: none;
            background-color: rgba(30, 50, 98, 0.3);
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=33, Direction=0, Color=#2E2E2E)";/*IE 8*/
            -moz-box-shadow: 0 0 33px -14px #2E2E2E inset;/*FF 3.5+*/
            -webkit-box-shadow: 0 0 33px -14px #2E2E2E inset;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
            box-shadow: 0 0 33px -14px #2E2E2E inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
            filter: progid:DXImageTransform.Microsoft.Shadow(Strength=33, Direction=135, Color=#2E2E2E); /*IE 5.5-7*/
            &.mobile-nav ul.sub-menu {
                text-transform: uppercase;
            }
            &.mobile-nav li{
                width: 100%;
                border-top: 1px solid #1f3460;
                a{
                    display: block;
                    color: #FFFFFF;
                    border-top: 1px solid #4F7389;
                    padding: 18px 25px 21px 25px;
                    border-right: 1px solid rgba(80, 80, 80, 0.12);
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 700;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    // background-color: rgba(30, 50, 98, 0.3);
                    &:before{
                        padding: 20px 20px;
                    }
                    &:hover{
                        background: #4F7389;
                        color: #FFFFFF;
                    }
                    i{
                        padding-right: 5px;
                    }
                }

            }

        }

    }

    ul.off-canvas{
        display: none;
    }
    ul {
      list-style: none;
      background: #1e3262;

    li {
        display: inline-block;
        float: left;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        perspective: 1000px;

        &:hover{

        }

        &:hover a{

        }

        &:hover a,
        & a:hover{
            color: #dff2fa;
            -webkit-transform: rotateX(90deg) translateY(-23px);
            -moz-transform: rotateX(90deg) translateY(-23px);
            transform: rotateX(90deg) translateY(-23px);
            -ms-transform: none;

        }

        &:hover > a:before,
        & > a:hover:before{
            background: #bf9941;
        }


        &.active {


        }

        &.active a{
            color: #3f3f3f;
        }

      a {

          font-size: 14px;
          color: #ffffff;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          background: #1e3262;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          -webkit-transform-origin: 50% 0;
          -moz-transform-origin: 50% 0;
          transform-origin: 50% 0;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;

          &:before{
              position: absolute;
              top: 100%;
              left: 0;
              z-index: -1;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              padding: 40px 28px;
              color: #FFFFFF;
              background: #bf9941;
              content: attr(data-title);
              -webkit-transition: background 0.3s;
              -moz-transition: background 0.3s;
              transition: background 0.3s;
              -webkit-transform: rotateX(-90deg);
              -moz-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
              -webkit-transform-origin: 50% 0;
              -moz-transform-origin: 50% 0;
              transform-origin: 50% 0;
              -ms-transform: translateY(- -18px);
          }


      }
    }
  }
}


