<section id="page-locations" ng-controller="ScrollCtrl">
    <nav class="navbar navbar-default submenu" sticky>
        <div class="container">
            <ul class="row">
                <li class="col-lg-3"><a class="center-block" href="#services">Services</a></li>
                <li class="col-lg-3"><a class="center-block" href="#products">Products</a></li>
                <li class="col-lg-3"><a class="center-block" href="#locations">Prices/Locations</a></li>
                <li class="col-lg-3"><a class="center-block" href="#bookings">Bookings</a></li>
            </ul>
        </div>
    </nav><!--end submenu-->
    <!-- start the featurettes -->
    <section class="hero-location">
        <div class="jumbotron hero-header">
            <div class="container">
                <h1>Locations</h1>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>

        </div>

    </section>
    <section class="container ui-tabsystem" ng-controller="locationsController">
        <div class="row">
            <div class="col-lg-2">
                <tabs data="tabData" type="tabs" template-url="ui-router-tabs-custom-ui-view-template.html"></tabs>
            </div>

            <!-- custom location of ui-view -->
            <div class="col-lg-10">
                <ui-view autoscroll></ui-view>
            </div>
        </div>
    </section>
    <footer class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2016 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
</section>